/* html,
body {
    margin: 0;
    background-color: blue;
}
div {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: inline-block;
} */
/* body {
    background-color: blue;
}

.box {
    
} */