* {
   box-sizing: border-box; 
}

h2 {
    text-transform: uppercase;
    color: rgba(162, 121, 220, 0.5);
    text-align: center;
}
div {
    font-style: italic;
    text-align: center;
}

p {
    text-align: center;
}
.brown {
    color: brown;
}
#heading {
    border-bottom: 1px solid #000;
}