* {
   box-sizing: border-box; 
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: Montserrat;
    src: url(./Fonts/Montserrat-Italic.ttf) format('truetype');
    font-weight: normal;   /*Насыщенность шрифта*/
    font-style: normal; /*Так скажем вид шрифта т.е. курсив он или нет ну итд */
}

h2 {
    text-transform: uppercase;
    color: rgba(162, 121, 220, 0.5);
    text-align: center;
}
div {
    font-style: italic;
    text-align: center;
}

p {
    text-align: center;
}
.brown {
    color: brown;
}
#heading {
    border-bottom: 1px solid #000;
}

.fontlist {
    list-style: none;
    font-family: Montserrat, Helvetica, sans-serif;
}

.size {
    font-family: 'Montserrat', sans-serif;
}